@charset "UTF-8";

.color-primary{
  color: blueviolet;
}

.font-50{
  font-size: 50px;
}

.select-style1{
  height: 40px;
  font-size: 20px;
  color: blue;
}

.tb-head>tr>td{
  border: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  color: blue;
}

.tb-body>tr>td{
  border: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  color: red;
}
